/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-background-surface-color: #1a1a1a;
  --ifm-color-primary: #00a8e8; /* A vibrant blue */
  --ifm-color-primary-dark: #0097d1;
  --ifm-color-primary-darker: #008ac5;
  --ifm-color-primary-darkest: #0073a3;
  --ifm-color-primary-light: #1ab4f0;
  --ifm-color-primary-lighter: #28bcf3;
  --ifm-color-primary-lightest: #49c8f6;
  --ifm-font-color-base: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  background-color: #000000;
}

body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

